.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0
}
.header {
  background-color: #2F4050;
  width: 100vw;
  padding: 20px;
}
.header1 {
  background-color: #2F4050;
  width: 100vw;
  padding: 10px;
}
.icon {
  color: white;
  font-size: 20px;
  float: left;
  margin-top: -10px;
  cursor: pointer;
}